<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sxt.mapper.CustomerMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sxt.domain.Customer">
        <id column="customer_id" property="customerId" />
        <result column="document_type" property="documentType" />
        <result column="document_number" property="documentNumber" />
        <result column="customer_name" property="customerName" />
        <result column="customer_birthday" property="customerBirthday" />
        <result column="customer_sex" property="customerSex" />
        <result column="customer_address" property="customerAddress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_id, document_type, document_number, customer_name, customer_birthday, customer_sex, customer_address
    </sql>

</mapper>
